
#editorCanvas{
    /* background-color: #8ad552; */
    border: none;
    flex: 1;
}

dialog{
    textarea{
        height: 10em;
        width: min(80em,100%);
    }
    .toolbar{
        display: flex;
        justify-content: space-around;
    }
}
