#controls{
    display:flex;
    border-bottom: 1px solid;
}
#editorCanvas{
    background-color: #8aae6f;
    border: none;
    flex: 1;
}

dialog{
    textarea{
        height: 10em;
        width: min(80em,50vw);
    }
    .toolbar{
        display: flex;
        justify-content: space-around;
    }
}
.toolbar{
    display: inline-flex;
    align-items: center;
}