body, html{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction:column;

}
#carCanvas{
    background: radial-gradient(circle farthest-side, #5A5, #096);
}
#cameraCanvas{
    background-image: linear-gradient(lightblue, white 40%);
    /*background-image: radial-gradient( at 100% 70%,  white 40%, lightblue, orangered);*/
}
#ironManCanvas{
    position: absolute;
    top: 20px;
    left: 2em;
    width:300px;
    opacity: 50%;
}
#visualizer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    inset: 0;
    left: auto;
    margin-inline: .5em;
    width: 14em;
    margin: 1em;
}
/* hide visualizer when screen is very small*/
@media only screen and (max-width: 50em) {
    #visualizer {
        display: none;
    }
}


#statistics{
    background: #6c6c6c;
    border-radius: 10px;
    overflow-y: hidden;
    height:15em;
    padding: .5em;

}

.stat{
    font-size:large
}

#networkCanvas,#miniMapCanvas{
    background: rgb(44, 42, 44);

}
#miniMapCanvas{
    border-radius:50%;
    border: 1px solid white;
    opacity: 0.5;

}

#verticalButtons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    left: 0;
}
canvas:focus{
    outline: 4px white inset;
}




label,button{
    display: inline-block;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    text-shadow: 1px -1px 4px rgba(0, 0, 0, 0.69);
    cursor: pointer;
    padding: 0.15em;
    filter: grayscale(1);
    opacity:0.5;
    width: min-content;
    background-color: white;
    color: #ffffff;
    input{
        border: none;
        appearance: textfield;
    }
    input[type=file]{
        display: none;
    }
    &:hover{
        opacity:1;
        filter: grayscale(0);
        background: #939191;
    }
}

#counter {
    position: absolute;
    inset: 0;
    display: flex;
    font-size: 40vmin;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: arial, serif;
    opacity: 0.5;
}