body {
    margin: 0;
    background: #50a493;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#project {
    position: relative;
    flex: 1;
    height: 100vh;
}

#carCanvas {
    background: radial-gradient(circle farthest-side, #5A5, #096);
}

#visualizer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;

    justify-content: flex-end;
    inset: 0;
    left: auto;
    opacity: 0.5;
    margin-inline: .5em;
}

#networkCanvas, #miniMapCanvas {
    background: rgba(149, 120, 149, 0.46);

}

#miniMapCanvas {
    border-radius: 50%;
    border: 1px solid white

}

#verticalButtons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    left: 0;
}

canvas:focus {
    outline: 4px white inset;
}

