#project {
    display: grid;
    grid-template-rows: max-content 1fr;
    position: relative;
    height: 100vh;
    overflow: clip;
    min-width: 0;
    max-height: 100vh;
    flex: 1 1 0;
    width: 100%;
    anchor-name: --project;
    grid-template-columns: 100%;


    & #controls {
        grid-row: 1;
        grid-column: 1 / -1;
        max-width: 100%;
        /* width: 50em; */
        /* overflow: overlay; */
    }

    & #carCanvas {
        grid-row: 2;
        flex: 1 1 0;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
    }

    & #visualizer {
        position: absolute;
        grid-row: 2 / -1;
        right: anchor(--project right);
        inset: 0 0 0 auto;
    }
}

#visualizer {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    opacity: 0.5;
    width: 200px;
    /* justify-content: space-around; */
}

#networkCanvas, #miniMapCanvas {
    background: rgba(149, 120, 149, 0.46);
    /* flex:1; */
}

#networkCanvas {
    height: 50%;
}

#miniMapCanvas {
    border-radius: 50%;
    border: 1px solid white;
    aspect-ratio: 1/1;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    left: 0;
}

canvas:focus {
    outline: 4px white inset;
}

body {
    & > .main-section:nth-child(1) {
        width: min(40em, 40vw);
    }

    & > .main-section:nth-child(2) {
        flex: 1;
        align-items: stretch;
        width: max(60em, 60vw);
    }

}
