body, html{
    margin: 0;
    background: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#carCanvas{
    background: radial-gradient(circle farthest-side, #5A5, #096);
}
#visualizer{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    right: 0;
}
#networkCanvas,#miniMapCanvas{
    background: rgba(149, 120, 149, 0.46);

}
#miniMapCanvas{
    border-radius:50%;
    border: 1px solid white

}

#verticalButtons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    left: 0;


}




label,button{
    display: inline-block;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    text-shadow: 1px -1px 4px rgba(0, 0, 0, 0.69);
    cursor: pointer;
    padding: 0.15em;
    filter: grayscale(1);
    opacity:0.5;
    width: min-content;
    background-color: white;
    color: #ffffff;
    input{
        border: none;
        appearance: textfield;
    }
    input[type=file]{
        display: none;
    }
    &:hover{
        opacity:1;
        filter: grayscale(0);
        background: #939191;
    }
}
